@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global CSS Variables for a modern look */

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/npm/pretendard@1.3.9/dist/web/static/woff/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family-base: 'Pretendard', sans-serif;
  --font-size-base: 16px;
  --line-height-base: 1.5;
  --color-text: #333333;
  --color-background: #f4f7f9; /* 텍스트와 배경의 기본 색상 */
  /* 주 색상, 어두운 주 색상, 보조 색상 정의 */
  --color-primary: #000000; /* Tailwind blue-500 3b82f6 */
  --color-primary-dark: #000000; /* Tailwind blue-600 2563eb*/
  --color-secondary: #000000; /* Tailwind indigo-500 6366f1*/
  /* 링크의 기본 색상과 호버 시 색상 */
  --color-link: #000000; /* 3b82f6 */
  --color-link-hover: #000000; /* 2563eb */
  --transition-speed: 0.3s;
}

/* 기본 HTML 요소 스타일링 */
html {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

body {
  margin: 0;
  background: var(--color-background);
  color: var(--color-text);
  min-height: 100vh;
}

/* React Flow 핸들 스타일링 */
.chatflow-canvas .react-flow__handle-connecting {
  cursor: not-allowed;
  background: #db4e4e !important;
}

.chatflow-canvas .react-flow__handle-valid {
  cursor: crosshair;
  background: #5dba62 !important;
}

/* Input 태그의 스피너 제거 ( Chrome, Safari, Edge, Opera / Firefox ) */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  appearance: textfield; /* -moz-appearance */
}

/* Light Mode Adjustments */
@media (prefers-color-scheme: light) {
  :root {
    --color-background: #ffffff;
    --color-text: #333333;
  }
  body {
    background: var(--color-background);
    color: var(--color-text);
  }
  a:hover {
    color: var(--color-link-hover);
  }
}
